.contenedor{
border-style: double;
   width: 50%;
    margin: 2rem auto;
    background-color: rgb(253, 77, 7);
}
p{
    background-color: coral;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
}
#boton{
    margin: 2rem auto;
    text-transform: uppercase;
    align-items: center;
}